body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/*----------------------(*) ---Aplica a pagina toda--------------*/
*{  
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    padding: 0px!important;
}
/*------------------------menu onde fica a logo------------------*/
.menu-principal{ 
    width: 100%;
    /*background-color: #252323;*/
    height: 80px; /*altura*/
    background-image: url('../img/cabecario.png');
    
}
main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{ /*logo ajudaí*/
    float: left;
    padding: 20px;
    width: 70%;
}
/*-------------------------------MENU PRINCIPAL-----------------*/
.header-2 {    /*menu inicial*/
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 5px;
}
.menu-urls{ /*parte branca onde está inicio, sobre e contato*/
    height: 55px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 34px;  /*altura linha do menu baixo*/
}
.menu ul li:hover {    /* largura linha do menu baixo*/
    border-bottom: 2px solid #5aa2d8;
}

.menu ul li a:hover {  /* cor linha do menu baixo*/
    color: #5aa2d8 ;    
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    
}
.menu {
    width: 70%;
    float: left;
}
.entrar{ /*botão ENTRAR*/
    text-align: center;
    width: 30%;
    float: right;
}
.entrar button { /*botão ENTRAR escrita */
    background-position: 25%;
    color: #FFFFFF;
    height: 47px;
    width: 130px;
    text-transform:uppercase;
    border: 2px solid #5aa2d8;
    background-color: #5aa2d8;
}
/*------------------------risco do menu ------------------------------*/
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
/*---------------------------------slide principal-----------------------*/

button.slick-prev{ /*botão para voltar as fotos slide principal*/
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 35%;
    left: 15%;
}
button.slick-next{ /*botão para proxima foto slide principal*/
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 35%;
    right: 15%;
}
.slider-principal{
    width: 100%!important;
    overflow-x: hidden;
}

.slick-dots li button{  /*bolinhas vai passando as imagens das fotos do slide principal*/
    font-size: 0px;
    border: 4px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;    
}

.slick-dots { /*bolinhas vai passando as imagens das fotos*/
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 410px; 
}
li.slick-active button{ /*bolinhas vai passando as imagens das fotos*/
    background: #5aa2d8;
}
.slick-dots li {
    padding-left: 10px ;
    display: inline-block;
}
#div_esquerda{
    clear:both;
    background-color:#ffffff;
    min-height: 200px;
    width: 100%;
}
/* -------------------------------------------qual serviço especializado você procura------------------*/
#texto-destaque{ /*qual serviço especializado você procura*/
    text-align: center;
}
#texto-destaque h3{ /*qual serviço especializado você procura*/
    font-size: 25px;
    text-transform: uppercase;
    color: #818181;
}
/* --------Ache o profissional que você precisa aqui, encanador, eletrecista, carpinteiro...--------*/
#texto-destaque p{ 
    font-family:'helvetica';
    font-size: 14px;
    text-align:center;
    text-transform:none;
    color: #818181;
}
/*-----------------campo pesquisa---------------*/
.pesquisa input { 
    background-position: 96%;
    height: 20px;
    width: 275px;
    padding: 12px; /*posição*/
    border: 1px solid #d6d6d6
}
/*-------------------CEP----------------------------*/
.cep input{ 
    background-position: 96%;
    height: 20px;
    width: 191px;
    padding: 12px; /*posição*/
    border: 1px solid #d6d6d6
}
/*-------------------botão busca----------------------*/
.busca{ 
    text-align: center;
    width: 60%;
    float: right;
}
.busca button{ /*botão BUSCA escrita */
    background-image: url('../img/busca2.png');
    background-repeat: no-repeat;
    background-position: 25%;
    color: #FFFFFF;
    height: 36px;
    width: 130px;
    text-transform:none;
    border: 2px solid #5aa2d8;
    background-color: #5aa2d8;
}
/*----------------------posição dos elementos pesquisa, cep, botão----------------------------------*/
.col-3{
    width: 33%; /*largura*/
    float: left;
    position: relative;
}
/*----------------------------------3 PASSOS PARA DIVULGAR SEU SERVIÇO----------------------------*/
#texto-destaque2{
    clear:both;
    text-align: center;
    color: #818181;
    padding: 10px;
}
.col-4{
    width: 33%; /*largura*/
    float: left;
    position: relative;
}
#top-3{
    clear:both;
    background-color:#eeeeee;
    min-height: 500px;
    width: 100%;
   
}
#top-3 h3{     
    text-align: center;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    color: #818181;
}
#top-3 p{     
    text-align: center;
    color: #818181;
}
.col-5{
    width: 33%; /*largura*/
    float: left;
    position: relative;
}
/*----------------------------------------------TOP3--------------------------------------------------*/
.bloco-imagem img {  /*Posição imagens do top 3*/
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem { /*Borda do top 3*/
    height: 300px;
    border: 1px solid #c5c5c5;
    /*padding-top: 15px;*/
    padding-bottom: 15px;
    margin-left: 1px;
}
.bloco-imagem b, p { /*Texto top 3*/
    text-align: left;
}
.bloco-texto {
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
}

.bloco-imagens-texto {
    background-color: #eeeeee;
}

.bloco-imagens-texto:after { /*Posição dos top 3*/
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
} 
/*--------------------------------------------ANUNCIE AQUI!---------------------------------------------*/
#anuncio{
    clear:both;
    background-color:#ffffff;
    min-height: 200px;
    width: 100%;
}
#anuncio h3{     
    text-align:center;
    font-size: 25px;
    text-transform: uppercase;
    color: #818181;
}
.col-4 {  /* Centralização nos logos dos anuncios*/
    float:right;
    width: 30%;
    text-align: center;
}
.col-4 img { /* Efeito nos logos dos anuncios*/
    cursor: pointer;
     margin: 0 auto;
     padding-top: 1em;
     vertical-align: middle;
}
.col-4 img:hover { /* Efeito nos logos dos anuncios*/
    margin-top: 10px!important;
    position: relative!important;
 }

 .bloco-logos { /*altura dos anuncios*/
    height: 170px;
}

.bloco-logos img { /*posição dos anuncios*/
    margin-top: 50px;
}

/*-------------------------------------------------------RODAPÉ---------------------------------------------*/

.footer h3 {
    text-align: left;
}

.footer { /* imagem do primeiro rodapé*/
    background-image: url('../img/footer.png');
    color: #ffffff;
}

.footer-2 { /* imagem do segundo rodapé*/
    background-image: url('../img/footer2.png');
    color: #c1c1c1;
    height: 90px;
}


.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    padding: 10px;
    text-align: center;
}

.emailico:before {
    content: '';
    width:  17px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 5px;
}  
.emailico:before {
    background-image: url('../img/email.png');
}  

