
/*---------------------------------slide principal-----------------------*/

button.slick-prev{ /*botão para voltar as fotos slide principal*/
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 35%;
    left: 15%;
}
button.slick-next{ /*botão para proxima foto slide principal*/
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 35%;
    right: 15%;
}
.slider-principal{
    width: 100%!important;
    overflow-x: hidden;
}

.slick-dots li button{  /*bolinhas vai passando as imagens das fotos do slide principal*/
    font-size: 0px;
    border: 4px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;    
}

.slick-dots { /*bolinhas vai passando as imagens das fotos*/
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 410px; 
}
li.slick-active button{ /*bolinhas vai passando as imagens das fotos*/
    background: #5aa2d8;
}
.slick-dots li {
    padding-left: 10px ;
    display: inline-block;
}
#div_esquerda{
    clear:both;
    background-color:#ffffff;
    min-height: 200px;
    width: 100%;
}

/*profissionais em destaque*/
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  /*--------------------------------------------*/

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
   
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
